<div fxLayout="column" fxFill>
  <form class="mat-elevation-z2 container" style="padding: 20px" fxLayout="column" fxFlex>
    <h1 class="mat-h1 no-margin no-padding" fxLayoutAlign="center center">Sign In</h1>
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
      </mat-form-field>
   </div>
   <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
     <button mat-raised-button (click)="login()" color="primary" fxFlex="50">Sign In</button>
     <button mat-raised-button (click)="register()" color="primary" fxFlex="50">Register</button>
   </div>
 </form>
</div>
