<div fxLayout="column" fxFill>
    <form class="mat-elevation-z2 container" style="padding: 20px" fxLayout="column" fxFlex>
      <h1 class="mat-h1 no-margin no-padding" fxLayoutAlign="center center">Tell us more!</h1>
      <mat-form-field *ngIf="!signInService.getIsLoggedIn()">
        <input matInput placeholder="Email" type="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Height (inches)" type="number">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Weight (lbs)" type="number">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Gender">
          <mat-option>None</mat-option>
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Other">Prefer not to say</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date of Birth" disabled="true">
        <mat-datepicker-toggle matSuffix [for]="picker" disabled="false"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Dietary Restrictions">
          <mat-option>None</mat-option>
          <mat-option value="Vegetarian">Vegetarian</mat-option>
          <mat-option value="Vegan">Vegan</mat-option>
          <mat-option value="Gluten-Free">Gluten-Free</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Level of Activity">
          <mat-option>None</mat-option>
          <mat-option value="No Exercise">No exercise (0 hours a week)</mat-option>
          <mat-option value="Light Exercise">Light exercise (1-3 hours a week)</mat-option>
          <mat-option value="Moderate Exercise">Moderate Exercise (4-5 hours a week)</mat-option>
          <mat-option value="Heavy Exercise">Heavy Exercise (6-10+ hours a week)</mat-option>
        </mat-select>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap=".2em">
        <button mat-raised-button color="primary" type="reset" fxFlex="50">Reset</button>
        <button mat-raised-button (click)="submit()" color="primary" fxFlex="50">Submit</button>
      </div>
    </form>
</div>
