<div fxLayout="column" fxFill>
  <div class="mat-elevation-z2 container" style="padding: 20px" fxLayout="column" fxFlex>
    <div fxLayout="row" fxLayoutAlign="center center"><h1 class="mat-h1 no-margin no-padding">Contact Us</h1></div>
    <div fxFlex="35">
      <div fxLayout="row" fxLayoutAlign="start center"><mat-icon>local_phone</mat-icon><div fxFlex="0 0 10px"></div><p class="mat-body"><b> Phone: </b> (678) 999-8212</p></div>
      <div fxLayout="row" fxLayoutAlign="start center"><mat-icon>print</mat-icon><div fxFlex="0 0 10px"></div><p class="mat-body"><b> Fax: </b> (407) 867-5309</p></div>
      <div fxLayout="row" fxLayoutAlign="start center"><mat-icon>location_city</mat-icon><div fxFlex="0 0 10px"></div><p class="mat-body"><b> Address: </b> 400 University Blvd, Orlando, FL, 32816,</p></div>
      <div fxLayout="row" fxLayoutAlign="start center"><mat-icon>email</mat-icon><div fxFlex="0 0 10px"></div><p class="mat-body"><b> Email: </b> online.dietitian@gmail.com</p></div>
    </div>
  </div>
</div>

