<div fxLayout="column" fxFill>
    <div class="mat-elevation-z2 container" style="padding: 20px" fxLayout="column" fxFlex fxLayoutAlign="start center">
        <h1 class="mat-h1 no-margin no-padding" fxLayoutAlign="center center">Contact Us</h1>
        <div fxFlex="35" fxLayoutAlign="center start" fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start center"><mat-icon>local_phone</mat-icon><div fxFlex="0 0 10px"></div><p class="mat-body"><b> Phone: </b> 394-876-3984</p></div>
          <div fxLayout="row" fxLayoutAlign="start center"><mat-icon>print</mat-icon><div fxFlex="0 0 10px"></div><p class="mat-body"><b> Fax: </b> 344-523-5452</p></div>
          <div fxLayout="row" fxLayoutAlign="start center"><mat-icon>location_city</mat-icon><div fxFlex="0 0 10px"></div><p class="mat-body"><b> Address: </b> 400 University Blvd, Orlando, FL, 32816,</p></div>
          <div fxLayout="row" fxLayoutAlign="start center"><mat-icon>email</mat-icon><div fxFlex="0 0 10px"></div><p class="mat-body"><b> Email: </b> online.dietitian@gmail.com</p></div>
        </div>
    </div>
</div>
