<div fxLayout="column" fxFill>
    <form class="mat-elevation-z2 container" style="padding: 20px" fxLayout="column" fxFlex>
<h1 class="mat-h1">Welcome</h1>
<h3 class="mat-h3">Your projected weekly meal plans are listed below. </h3>
<mat-accordion>
  <mat-expansion-panel *ngFor="let diet of diets; let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day {{i+1}}
      </mat-panel-title>
      <mat-panel-description>
        Calories: 2500
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p><b>Breakfast:</b> 2 eggs, bacon, 1 slice of bread</p>
    <p><b>Lunch:</b> Chicken, rice, brocolli</p>
    <p><b>Dinner:</b> Fettucine alfredo, salad, 1 slice of bread</p>
  </mat-expansion-panel>
</mat-accordion>
</form>
</div>
