<div fxLayout="column" fxFill>
    <form class="mat-elevation-z2 container" style="padding: 20px" fxLayout="column" fxFlex>
<h1 class="mat-h1">Welcome</h1>
<h3 class="mat-h3">Your projected weekly meal plans are listed below. </h3>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day 1
      </mat-panel-title>
      <mat-panel-description>
        Calories: 2500
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p><b>Breakfast:</b> 2 eggs, bacon, 1 slice of bread</p>
    <p><b>Lunch:</b> Chicken, rice, brocolli</p>
    <p><b>Dinner:</b> Fettucine alfredo, salad, 1 slice of bread</p>
  </mat-expansion-panel>
 <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day 2
      </mat-panel-title>
      <mat-panel-description>
        Calories: 1200
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p><b>Breakfast:</b> 1 egg, 1 slice of bread</p>
    <p><b>Lunch:</b> 2 slices of bread, can of tuna, cheese</p>
    <p><b>Dinner:</b> Chicken, baked potato, green beans</p>
  </mat-expansion-panel>
    <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day 3
      </mat-panel-title>
      <mat-panel-description>
        Calories: 1200
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p><b>Breakfast:</b> Oatmeal, blueberries, peanut butter</p>
    <p><b>Lunch:</b> Bread, turkey, cheese, mustard</p>
    <p><b>Dinner:</b> Salmon, brown rice, brocolli</p>
  </mat-expansion-panel>
    <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day 4
      </mat-panel-title>
      <mat-panel-description>
        Calories: 1200
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p><b>Breakfast:</b> Cottage cheese, pineapple</p>
    <p><b>Lunch:</b> Ground beef, rice, black beans</p>
    <p><b>Dinner:</b> Chicken, mashed potatoes, tomatoe slices</p>
  </mat-expansion-panel>
    <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day 5
      </mat-panel-title>
      <mat-panel-description>
        Calories: 1200
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p><b>Breakfast:</b> 1 sausage, 1 biscuit</p>
    <p><b>Lunch:</b> Salami, ham, 2 slices of bread, mayo, lettuce</p>
    <p><b>Dinner:</b> Steak, rice, sweet peas</p>
  </mat-expansion-panel>
    <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day 6
      </mat-panel-title>
      <mat-panel-description>
        Calories: 1200
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p><b>Breakfast:</b> Tempeh Bacon, sauteed sushrooms, avocado</p>
    <p><b>Lunch:</b> Whole-grain pasta, Lentil balls, salad</p>
    <p><b>Dinner:</b> Cauliflower and chickpea tacos, guacomole, pico de gallo</p>
  </mat-expansion-panel>
    <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day 7
      </mat-panel-title>
      <mat-panel-description>
        Calories: 1200
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p><b>Breakfast:</b> Coconut yogurt, blueberries, walnuts, chia seeds</p>
    <p><b>Lunch:</b> Baked tofu, sauteed red cabbage, brussel sprouts, chick peas</p>
    <p><b>Dinner:</b> Bean Salad (black-eyed peas, tomatoes, corn, bell peppers, onions)</p>
  </mat-expansion-panel>
</mat-accordion>
</form>
</div>
