
<mat-card>
<h1>Welcome</h1>
<h3>Your projected weekly meal plans are listed below. </h3>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day 1
      </mat-panel-title>
      <mat-panel-description>
        Diet name
      </mat-panel-description>
    </mat-expansion-panel-header>

    This will be where we display the meals for the day, maybe the receipe or just the names and
    the pictures honestly.
  </mat-expansion-panel>
 <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day 2
      </mat-panel-title>
      <mat-panel-description>
        Diet name
      </mat-panel-description>
    </mat-expansion-panel-header>

    This will be where we display the meals for the day, maybe the receipe or just the names and
    the pictures honestly.
  </mat-expansion-panel>
    <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day 3
      </mat-panel-title>
      <mat-panel-description>
        Diet name
      </mat-panel-description>
    </mat-expansion-panel-header>

    This will be where we display the meals for the day, maybe the receipe or just the names and
    the pictures honestly.
  </mat-expansion-panel>
    <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day 4
      </mat-panel-title>
      <mat-panel-description>
        Diet name
      </mat-panel-description>
    </mat-expansion-panel-header>

    This will be where we display the meals for the day, maybe the receipe or just the names and
    the pictures honestly.
  </mat-expansion-panel>
    <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day 5
      </mat-panel-title>
      <mat-panel-description>
        Diet name
      </mat-panel-description>
    </mat-expansion-panel-header>

    This will be where we display the meals for the day, maybe the receipe or just the names and
    the pictures honestly.
  </mat-expansion-panel>
    <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day 6
      </mat-panel-title>
      <mat-panel-description>
        Diet name
      </mat-panel-description>
    </mat-expansion-panel-header>

    This will be where we display the meals for the day, maybe the receipe or just the names and
    the pictures honestly.
  </mat-expansion-panel>
    <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day 7
      </mat-panel-title>
      <mat-panel-description>
        Diet name
      </mat-panel-description>
    </mat-expansion-panel-header>

    This will be where we display the meals for the day, maybe the receipe or just the names and
    the pictures honestly.
  </mat-expansion-panel>
</mat-accordion>
</mat-card>
