<div fxLayout="column" fxFill>
  <form class="mat-elevation-z2 container" style="padding: 20px" fxLayout="column" fxFlex>
    <h1 class="mat-h1">Change your life, starting with your diet!</h1>
    <h2 class="mat-h2">A healthy lifestyle is just a click away.</h2>
    <mat-divider></mat-divider>

    <p class="mat-body">Through the online dietitian, users will be prompted to enter information about their current lifestyles and bodies through our weekly surveys.
    </p><p class="mat-body">Our dietitians have created many diet plans suitable for each individual's needs, completely customizable, including accommodation to various dietary restrictions.
      Users can choose between 2 weekly diet plans, modifying their meals to suit their preferences.
    </p>
    <p class="mat-body">What are you waiting for? Click <b>Sign In</b> to start your health journey!</p>
    <div fxLayoutAlign="center center"><img src="../assets/nutrition.png" fxFlex="50"></div>
  </form>
</div>
