.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav-content-div {
  overflow: hidden;
  height: 100%;
}

.contentScroll {
  overflow: none;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
