<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav mat-elevation-z2" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list *ngIf="signInService.getIsLoggedIn()">
      <a mat-list-item routerLink="/authhome">Home</a>
      <a mat-list-item routerLink="/services">Services</a>
      <a mat-list-item routerLink="/manage">Manage</a>
      <a mat-list-item routerLink="/contactUs">Contact Us</a>
      <a mat-list-item routerLink="/home" (click)="signInService.setIsLoggedIn(false)">Sign out</a>
    </mat-nav-list>
    <mat-nav-list *ngIf="!signInService.getIsLoggedIn()">
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/services">Services</a>
      <a mat-list-item routerLink="/contactUs">Contact Us</a>
      <a mat-list-item routerLink="/signIn">Sign in</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="sidenav-content-div" fxLayout="column">
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Online Dietitian</span>
      </mat-toolbar>
      <div class="contentScroll" fxFlex fxLayout="column">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
