<div fxLayout="column" fxFill>
    <div class="mat-elevation-z2 container" style="padding: 20px" fxLayout="column" fxFlex>
      <h1 class="mat-h1 no-margin no-padding" fxLayoutAlign="center center" fxFlex="10">Pick a diet!</h1>
        <div fxLayout="row" fxFlex="90" fxLayoutGap="10px">
          <div class="box" fxFlex="50" style="padding: 20px" class="mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center"  (click)="select(1)">
          <h2 class="mat-h2">Vegetarian</h2>
            <img src="../assets/vegetarian.png" fxFlex="50">
            <p class="mat-body">A weekly diet plan consisting of plenty of vegetarian only and vegan friendly options. </p>
          </div>
          <div class="box" fxFlex="50" style="padding: 20px" class="mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center"  (click)="select(2)">
          <h2 class="mat-h2">High Protein</h2><div fxFlex="5"></div>
          <img src="../assets/protein.png" fxFlex="40">
          <div fxFlex="5"></div> <p class="mat-body">A weekly diet plan consisting of a high-protein, meat-rich diet. </p>
          </div>
        </div>
    </div>
</div>
