<div fxLayout="column" fxFill>
    <div class="mat-elevation-z2 container" style="padding: 20px" fxLayout="column" fxFlex>
      <h1 class="mat-h1 no-margin no-padding" fxLayoutAlign="center center" fxFlex="10">Pick a diet!</h1>
        <div fxLayout="row" fxFlex="90" fxLayoutGap="10px">
          <div class="box" fxFlex="50" style="padding: 20px" class="mat-elevation-z2" fxLayout="column" fxLayoutAlign="start start"  (click)="select(1)">
            <h2 class="mat-h2">{{options.firstDiet.dietary_restrictions=="None" ? 'Low Calorie' : options.firstDiet.dietary_restrictions}}</h2>
            <p class="mat-body">{{options.firstDiet.breakfast}}</p>
            <p class="mat-body">{{options.firstDiet.lunch}}</p>
            <p class="mat-body">{{options.firstDiet.dinner}}</p>
          </div>
          <div class="box" fxFlex="50" style="padding: 20px" class="mat-elevation-z2" fxLayout="column" fxLayoutAlign="start start"  (click)="select(2)">
            <h2 class="mat-h2">{{options.secondDiet.dietary_restrictions=="None" ? 'Low Calorie' : options.secondDiet.dietary_restrictions}}</h2>
            <p class="mat-body">{{options.secondDiet.breakfast}}</p>
            <p class="mat-body">{{options.secondDiet.lunch}}</p>
            <p class="mat-body">{{options.secondDiet.dinner}}</p>
          </div>
        </div>
    </div>
</div>
